<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kmbeast.mapper.ScoreMapper">

    <insert id="save">
        INSERT INTO score (user_id, article_id, total, create_time)
        VALUES (#{userId}, #{articleId}, #{total}, #{createTime})
    </insert>

    <select id="query" resultMap="BaseResultMap">

        SELECT s.*,u.user_name,u.user_avatar
        FROM score s
        LEFT JOIN user u ON u.id = s.user_id
        <where>
            <if test="userId != null">
                AND s.user_id = #{userId}
            </if>
            <if test="articleId != null">
                AND s.article_id = #{articleId}
            </if>
        </where>
        ORDER BY s.id DESC
    </select>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.kmbeast.pojo.vo.ScoreVO">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="article_id" property="articleId"/>
        <result column="total" property="total"/>
        <result column="create_time" property="createTime"/>
        <result column="user_name" property="userName"/>
        <result column="user_avatar" property="userAvatar"/>
    </resultMap>

</mapper>
